.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #e5e5e5;   

    .content {
        align-self: center;
        width: 90%;
    }
}
  