.resume-page {
  color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px 0;

  .MuiTypography-root {
    color: #fca311;
  }
  .MuiTimelineOppositeContent-positionAlternate {
    color: #e5e5e5;
  }
  .title {
    color: #fca311;
  }

  .skills {
    min-width: 290px;
    .title {
      text-align: center;
    }
  }

  p {
    text-indent: 30px;
    margin: 10px 0;
    margin-inline-end: 10px;
  }

  .personality {
    ul {
      margin: 10px 0;
      margin-inline-start: 20px;

      li {
        position: relative;
        list-style-type: none;
        padding-left: 1.2em;
      }
      li:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 3px;
        width: 5px;
        height: 11px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #fca311;
        transform-origin: bottom left;
        transform: rotate(45deg);
      }
    }
  }
}
