.resume-page {
  color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px 0;

  @media screen and (max-width: 500px) {
    flex-direction: column;

    p,
    .title,
    .personality {
      text-align: center;
    }
  }

  .MuiTypography-root {
    color: #fca311;
  }
  .MuiTimelineOppositeContent-positionAlternate {
    color: #e5e5e5;
  }
  .title {
    color: #fca311;
  }

  .skills {
    min-width: 290px;
    .title {
      text-align: center;
    }
  }

  p {
    text-indent: 30px;
    margin: 10px;
  }

  .personality {
    ul {
      margin: 10px 0;
      margin-inline-start: 20px;

      li {
        list-style-type: none;
      }
    }
  }
}
