.contact-page {

  h1 {
    padding: 10px;
    text-align: center;
  }

  .contact-description {
    padding: 10px;
    text-align: center;
  }

  .cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .social {
    width: 100%;

    .icon-button {
      color: #e5e5e5;
      opacity: 0.6;

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  .social-card {
    border: 1px solid #e5e5e5;
    background: rgba(125, 125, 125, 0.4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 10px;
    color: #e5e5e5;
    height: 200px;
    width: 300px;

    .card-icon {
      margin-inline-end: 20px;
      background-color: rgba(0, 0, 0, 0.637);
      padding: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fca311;
    }
  }
}