.desktop-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tabs {
    background: transparent;
  }
  .MuiButtonBase-root {
    color: #e5e5e5;
  }
}
.mobile-header {
  .burger-icon {
    width: 30px;
    height: 30px;
    color: #e5e5e5;
    opacity: 0.8;
    margin: 10px;
  }
}
.MuiDrawer-paperAnchorLeft {
  min-width: 220px;
}
.mobile-header-switch-language {
  display: flex;
  align-items: center;
  padding-inline-start: 20px;

  .language {
    padding-inline-end: 10px;
  }
  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    padding: 4px 8px;
  }
}
.list {
  .MuiListItemText-root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
