@font-face {
  font-family: "shabnam";
  src: url("./assets/fonts/shabnam.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "shabnam", "Andika", sans-serif !important;
  user-select: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  font-size: larger;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}