.portfolio-page {
  color: #e5e5e5;

  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    flex-wrap: nowrap;

    .swiper-slide img {
      width: 100%;
      overflow: hidden;
    }


    .swiper-pagination-bullet {
      background-color: #fca311;
    }
  }

  h1 {
    text-align: center;
    margin: 20px;
  }

  .center {
    display: flex;
    justify-content: center;
  }
}